<%- include("partials/header.html") %>
    <div class="button_apis"><button onclick="window.location.href='/jokes_api'">Joke</button>
        <button onclick="window.location.href='/weather_api'">Weather</button>
        <button onclick="window.location.href='/apiKey'">Blockchain</button>
        <button onclick="window.location.href='/bearerToken'">Cocktail</button>
        <button onclick="window.location.href='/apiKey'">UV</button>
        <button onclick="window.location.href='/bearerToken'">Custom</button>
    </div>
    <%- include("partials/footer.ejs") %>