<%- include("partials/header.html") %>
    <button onclick="window.location.href='/noAuth'">Joke</button>
    <button onclick="window.location.href='/basicAuth'">Weather</button>
    <button onclick="window.location.href='/apiKey'">Blockchain</button>
    <button onclick="window.location.href='/bearerToken'">Cocktail</button>
    <button onclick="window.location.href='/apiKey'">UV</button>
    <button onclick="window.location.href='/bearerToken'">Custom</button>
    <%- include("partials/footer.ejs") %>